

header {
/* Forces elements to the next line if they don't fit */ 
height: 125px;
width: 1024;
align-content: center;
display: flex; 
justify-content: space-between;
background-color: black;
color: #fff;
   

}

.logo {
    
    display: flex;
    justify-items: flex-start;
        
}

header h1, a {
min-height: 100px;
align-items: center;
padding-bottom: 20px;
height: 25px;
color: white;
justify-content: center;
font-family:cursive;


    
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    width: 60%;
  

}

section {
    height: 100px;
    width: 1024;
    background: gray;
    color: #fff;
    text-align: end;
    padding: 10px;
    margin-bottom: 10px;
    font-family: cursive;
    font-size: large;
    
}

.container {
    background-color: red;
    min-height: 200px;
    font-family: cursive;
    color: white;
}


main {

    background-color: black;
    lightblue;
    height: 600px;
    width: 1024;
    font-style: oblique;
    color: white;
}


    
.flex-container {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
        
}

.herobox1 {
min-height: 300px;
width: 55%;
flex: 2;


}

.herobox2 {
  
min-height: 300px;
width: 33%;

    
    
}

.herobox3 {
    min-height: 300px;
    width: 33%;
    flex: 1;
    
}

footer {

height: 125px;
width: 1024;
align-items: flex-start;
display: flex; 
justify-content: space-around;
padding: 25px;
background-color: gray;
color: #fff;
font-style: oblique;
    
    
}

footer, a {
   
    color: white;
}