header {
/* Forces elements to the next line if they don't fit */ 
height: 125px;
width: 1024;
text-align: center;
display: flex; 
justify-content: space-between;
padding: 45px;
background: #13293d;
color: #fff;
padding-top: 20px;
padding-bottom: 20px;
   
 
    

}

.logo {
    display: flex;
   justify-items: flex-start;
    
    
}

header h1 {
/* display: inline-block; */
margin: 5px 5px;
padding-bottom: 20px;
height: 25px;


    
}

header a {
    color: white;
}

nav {
    display: flex;
    justify-content: end;
    background-color: lightslategray
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 60%;

}

section {
    height: 100px;
    width: 1024;
    background: gray;
    color: #fff;
    text-align: end;
    padding: 10px;
    margin-bottom: 10px;
    
}




main {

    background-color: 
    lightblue;
    height: 600px;
    width: 1024;
    font-style: oblique;
}


    
.flex-container {
    display: flex;
    flex: row;
    justify-content: space-around;
    align-items: center;
        
}

.herobox1 {
flex: 3;


}

.herobox2 {
   display: inline-flex;
    flex: 1;
    
    
}



footer {

height: 125px;
width: 1024;
align-items: flex-start;
display: flex; 
justify-content: space-around;
padding: 25px;
background: #13293d;
color: #fff;
font-style: oblique;
    
    
}

footer a {
    color: white;
}