header {
/* Forces elements to the next line if they don't fit */ 
height: 25px;
width: 1024;
text-align: center;
display: flex; 
justify-content: space-around;
padding: 45px;
background: #13293d;
color: #fff;


}

header h1 {
display: inline-block;
height: 25px;


    
}

header a {
    color: white;

}

section {
    height: 100px;
    width: 1024;
    background: gray;
    color: #fff;
    text-align: end;
    padding: 10px;
    margin-bottom: 10px;
    
}


nav {
    display: flex;
    justify-content: end;
    background-color: 
    yellow;
    margin-top: 10px;
    padding: 10px;
    height: 118px;
    width: 1024;
}

main {

    background-color: 
    lightblue;
    height: 600px;
    width: 1024;
    font-style: oblique;
}



footer {

height: 25px;
width: 1024;
text-align: center;
display: flex; 
justify-content: space-around;
padding: 25px;
background: #13293d;
color: #fff;
    
    
}

footer a {
    color: white;
}